/* VISUAL */
#visual {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

#visual .inner {
    height: 800px;
}

#visual .swiper {
    width: 100%;
    height: 100%;
}

#visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#visual .swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    padding-bottom: 20px;
}

#visual .swiper-pagination-bullet-active {
    --swiper-theme-color: #AC94C4;
}

#visual .text_banner {
    text-align: left;
}

#visual .text_banner .bar_visual {
    width: 3px;
    height: 100px;
    background-color: #AC94C4;
    margin-bottom: 50px;
}

#visual .text_banner .img_visual_product img {
    width: 800px;
}

#visual .text_banner .text_banner_left {
    position: absolute;
    left: 0;
    top: 5%;
}

#visual .text_banner .text_banner_left h2 {
    font-size: 36px;
}

#visual .text_banner .text_banner_right {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

#visual .text_banner .text_banner_right h4 {
    font-size: 18px;
}

#visual .text_banner .text_banner_right h3 {
    font-size: 30px;
    font-weight: 600;
}

#visual .text_banner .btn_purchase {
    position: absolute;
    right: 0%;
    bottom: 10%;
    background-color: #AC94C4;
    padding: 10px 20px;
    cursor: pointer;
}

#visual .text_banner .btn_purchase a {
    color: #fff;
    font-weight: 600;
}